MC_HOST=play.funtime.su
MC_PORT=25565
MC_VERSION=1.16.5
MC_USERS=ir1skaa_ft_1,ir1skaa_ft_2,ir1skaa_ft_3
JOIN_DELAY_MS=10000
SWITCH_TIMEOUT_MS=15000
PLAYERLIST_SETTLE_MS=1500
PLAYERLIST_MAX_MS=6000
BETWEEN_ANARCHY_MS=800
RECONNECT_DELAY_MS=10000
TG_TOKEN=8929651144:AAEPndWufv4HBF9kI_y_8wxzhaDnBrvFcPs
# Ограничить доступ (свой chat id), пусто = все
TG_CHATS=
